.blog-head {
    margin-top: 7rem;
    text-transform: uppercase;
    font-size: 6rem;
    color: #fff;
}

.blog-card {
    left: 2rem;
    max-width: 90%;
    min-width: 75%;
    background-color: white;
    margin: 1rem;
}

@media (max-width: 500px) {
    .blog-head {
        text-transform: uppercase;
        font-size: 3rem;
    }
}
