.blog-container {
    position: absolute;
    left: 2rem;
    top: 15%;
    min-height: 100vh;
    width: 90vw;
}

.blog-head {
    text-transform: uppercase;
    font-size: 6rem;
    color: #fff;
}

.blog-card {
    max-width: 90%;
    min-width: 75%;
    background-color: white;
    margin: 1rem;
}

@media (max-width: 500px) {
    .blog-head {
        text-transform: uppercase;
        font-size: 3rem;
        color: #fff;
    }
}
