{% extends 'account/base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'blog/css/blog.css' %}">
{% endblock %}

{% block extra_title %}
- Add Blog
{% endblock %}

{% block inner_content %}
<div class="container">
    <div class="w-100 h-100 p-3">
        <div class="form-group">
            <form method="POST" enctype="multipart/form-data" action="{% url 'add_blog' %}">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">Create A Post</legend>
                    {{ form|crispy }}
                </fieldset>
                <div class="form-group">
                    <a class="btn-warning" href="{% url 'blog' %}">Cancel</a>
                    <button class="btn btn-outline-info mt-2" type="submit">Add</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}