{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'blog/css/blog.css' %}">
{% endblock %}

{% block extra_title %}
- Blogs
{% endblock %}

{% block content %}
<div class="blog-overlay"></div>
<div class="container">
    <div class="container row">
        {% if request.user.is_superuser %}
        <div class="">
            <a class="btn-outline-info" href="{% url 'add_blog' %}">Add New Post</a>
        </div>
        {% endif %}
        <h1 class="hidden">Blog</h1>
        {% for blog in blogs %}
        <div class="blog-card" style="width: 100%;">
            <div class="card-body" style="background-color: white; ">
                <h5>{{ blog.title }}</h5>
                <div class="card-image">
                    {% if blog.image_url %}
                    <img class="card-img-top" alt="blog post decorative image" src="{{ blog.image_url }}">
                    {% else %}
                    <img class="responsive-img" alt="" src="">
                    {% endif %}
                </div>
                <div class="card-text">
                    <p>{{ blog.content }}</p>
                </div>
                <span class="center">author: {{ blog.author }}</span>
                {% if request.user.is_superuser %}
                <div class="">
                    <a class="btn-outline-info href="{% url 'edit_blog' blog.id %}">edit</a>
                    <a class="btn-warning" href="{% url 'delete_blog' blog.id %}">Delete</a>
                </div>
                {% endif %}
            </div>
        </div>
        <div class="divider"></div>
        {% endfor %}
    </div>
</div>
{% endblock %}